%PDF-1.4
%“Œ‹ž ReportLab Generated PDF document (opensource)
1 0 obj
<<
/F1 2 0 R /F2 3 0 R /F3 4 0 R
>>
endobj
2 0 obj
<<
/BaseFont /Helvetica /Encoding /WinAnsiEncoding /Name /F1 /Subtype /Type1 /Type /Font
>>
endobj
3 0 obj
<<
/BaseFont /Helvetica-Bold /Encoding /WinAnsiEncoding /Name /F2 /Subtype /Type1 /Type /Font
>>
endobj
4 0 obj
<<
/BaseFont /Courier /Encoding /WinAnsiEncoding /Name /F3 /Subtype /Type1 /Type /Font
>>
endobj
5 0 obj
<<
/Contents 9 0 R /MediaBox [ 0 0 595.2756 841.8898 ] /Parent 8 0 R /Resources <<
/Font 1 0 R /ProcSet [ /PDF /Text /ImageB /ImageC /ImageI ]
>> /Rotate 0 /Trans <<

>> 
  /Type /Page
>>
endobj
6 0 obj
<<
/PageMode /UseNone /Pages 8 0 R /Type /Catalog
>>
endobj
7 0 obj
<<
/Author (Newton's Apple \204 BioSync) /CreationDate (D:20260320101104+00'00') /Creator (\(unspecified\)) /Keywords () /ModDate (D:20260320101104+00'00') /Producer (ReportLab PDF Library - \(opensource\)) 
  /Subject (\(unspecified\)) /Title (.env.example) /Trapped /False
>>
endobj
8 0 obj
<<
/Count 1 /Kids [ 5 0 R ] /Type /Pages
>>
endobj
9 0 obj
<<
/Filter [ /ASCII85Decode /FlateDecode ] /Length 880
>>
stream
Gatn#?Z4XP'ZJu*'Na#+\k*anEL`h&+52`U?+\NLfsF>7U(eS<Qe4,LZq1)`ZP0"r$5?Kj85O,0TC]\8+b7h(<7cR/E"kY%KE.\W-9rDW&7.U\Cd#/f,G#qFQd66I6sUR9F*FVp'LOsKbR;#c@Hqe=e41#/N'iuMhGL:jB<i&_.JEfK3CVpVcGu@J"Q;LsT5Eh)&P<Yt_93`unPB4"/@[Sf?Z#-))#9[8j3A&X;JSZaopAAP"\[+gXCK$I#>sbJct6)[83XM%<O"G^TtqH^3X=#.ahbC%k%^u`YNC&DG12r0(59g)`qf5W$o5=MDQ[>-neR6J[WJm&!iHLN%=o?9/$RU]3M@!d/'.Cg':Ac=F!Vff7u;"h(W5E"6%sU1[]BB4E%)j9Orm=V*1O[ERaEYRdO1]TneY#(XdS]kS$;5UPQAW%-@q:I3:ej(03T4H<>)AHi]hWuDbZnUD=+FD7@Ue&Xl%'t:eEB;r*=8$<\d7%>6pot6O5EoYR0$F*a)Jsamhrn*5"tjWq+ef#@[qK2.O[sHFEqN""_=:Q.**:1)Ej+O17a@]1eH-gZ8ImXe'#[Sq.rZ,p]H]UfR/X,uab%K3/WMis\fl1GpUh)J>89AGX.)j2Se,7!F9Edm?45iRJg9Mj\iX;@eLK=/(\\63rB)N3jXmqjgJha\l[O%F#g@=8<V\pl8hqN^PHlVkO/Y5?I!lWCO4HEfq\^5IJ<u;um)`/!uQ*S4W/:1`Me;T4)j7rTN8-3'+b;>t9WeFPct=@%g&U>ni@Kk`;*",>i9PO1c88B?-_0NHM73SF(rtMP<WH(9oPaPB`8T3]";bLhmIhFN4]4L%eg?9D@EgbMkX%4,C9B]65Ys*D=)*3nch,Xaf8RqF:~>endstream
endobj
xref
0 10
0000000000 65535 f 
0000000061 00000 n 
0000000112 00000 n 
0000000219 00000 n 
0000000331 00000 n 
0000000436 00000 n 
0000000639 00000 n 
0000000707 00000 n 
0000001000 00000 n 
0000001059 00000 n 
trailer
<<
/ID 
[<4ed9dd5a58098f908e06ab432efc6090><4ed9dd5a58098f908e06ab432efc6090>]
% ReportLab generated PDF document -- digest (opensource)

/Info 7 0 R
/Root 6 0 R
/Size 10
>>
startxref
2029
%%EOF
